body{
    display: flex;
    justify-content: space-around;
    gap: 2%;
}

div{
    padding: 10px;
    border-radius: 5%;
    border: 1px solid grey;
    background-color: blue;
    width: 30%;
}

img{
    width: 100%;
    height: auto;
}
